
/* Light mode */
.navbar, footer {
  background-color: #343252;
  font-family: monospace;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
}

a{
  text-decoration: none;
}

main{
  overflow-y:  scroll;
  height: 100vh;
}

h1{
  font-size: 30px;
  margin-top: 1em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

.card-header, #card-footer{
  background-color: lightblue;
  color: black;
}

/*.alert{
  width: 80%;
  margin: auto;
  position: absolute;
  text-align: center;
  left: 10em;
  top: 70px;
  padding-bottom: 2em;
  z-index: 9999;
  animation-name: animate;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes animate {
  from {
    top: 0px;
  }
   to {
    top: 70px;
   }
}

@media screen and (max-width: 680px) {

  .alert{
    width: 80%;
    left: 2em;
  }

}*/

label {
  font-family: serif;
  font-size: 15px;
}

h1, label, .viewpost > h2 {
  color: #34325e;
}

input[type="text"], textarea.form-control {
  font-size: 18px;
}

textarea.form-control {
  background-color: lightblue;
}

footer {
  background-color: #343252;
  height: 50px;
  color: #9d9d9d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}