{% extends 'firstapp/base.html' %}

{% block content %}

{% if user.is_authenticated %}
   
    <h1 style="text-align:center;">Add Venue </h1> <br />

    {% if submitted %}

    <h1 style="text-align:center; font-style:italic;"> Your Venue was submitted successfully!!! </h1>

    {% else %}

        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
    
            {{ form.as_p }}
    
            <input type="submit" value="Add Venue" class="btn btn-primary" />
    
        </form>

    {% endif %}

{% else %}

    <h1 style="text-align:center; margin-top: 1em; color: red;">Sorry! You Must Be Logged In To View This Page! </h1>
    
    <a class="nav-link" style="text-align:center; margin-top: 1em;" aria-current="page" href="{% url 'login' %}">Login Here...</a>

{% endif %}

{% endblock %}