{% extends 'firstapp/base.html' %}

{% block content %}
   
    <h1 style="text-align:center; margin-top: 1em;">List of Events</h1>
    {% for event in event_list %}
    <section class="card">

        <div class="card-header">
            <strong>{{ event }}</strong>
        </div>

        <div class="card-body">

            <h5 class="card-title">Venue: {{ event.venue }}</h5>

            <p class="card-text">
                <b>Date:</b> {{ event.event_date }} <br />
                <b>Venue Website:</b> <a href="{{ event.venue.web}}">{{ event.venue.web }}</a> <br />
                <b>Manager:</b> {{ event.manager }} <br />
                <b>Description:</b> {{ event.description }} <br />
                <b>Attendees:</b> <br /> 
                    {% for user in event.attendees.all %}
                        {{ user }} <br />
                    {% endfor %}
            </p>

        </div>

        <div class="card-footer text-muted">
           <a href="{% url 'update-event' event.id %}" class="btn btn-warning btn-sm"> Update Event </a>
           <a href="{% url 'delete-event' event.id %}" class="btn btn-danger btn-sm"> Delete Event </a>
        </div>

    </section> <br />
    {% endfor %}

{% endblock %}