{% extends 'firstapp/base.html' %}

{% block content %}

    <center>
        <h1>Hello world</h1>
        <h3>Events for {{ month }} {{ year }}</h3>
        {{ cal|safe }}
        <br /><br />

        <h3>Events This Month...</h3>

        {% if event_list %}

          {% for event in event_list %}

            {{ event }} - {{ event.event_date }}

          {% endfor %}

        {% else %}

          Sorry, there are no events for this month !
         
        {% endif %}

        <br /><br /><br /><br />
    </center>

{% endblock %}
