{% extends 'firstapp/base.html' %}

{% block content %}

{% if user.is_authenticated %}

    <h1>Update Venue...</h1> <br />

    <form action="" method="POST">
        {% csrf_token %} 
        {{ form.as_p }} <br />
        <input type="submit" value="Update" class="btn btn-primary" />
    </form>

{% else %}

    <h1 style="text-align:center; margin-top: 1em; color: red;">Sorry! You Must Be Logged In To View This Page! </h1>

    
    <a class="nav-link" style="text-align:center; margin-top: 1em;" aria-current="page" href="{% url 'login' %}">Login Here...</a>

{% endif %}

{% endblock %}